
html {
   background-image: url(""); 
}
.main-container {
    padding: 50px;
}
th {
    font-size: 13px;
}
td {
    font-size: 13px;
}
div {
    padding: 0px;
    margin: auto;
}
.gpbp {
    border: 1px solid lightgrey;
    padding: 20px;
}
.row {
    margin: 0px;
}